<html>
    <head>
        <title>{site_title}</title>
        <!-- Implement mask-icon? -->
        <link rel="icon" type="image/svg+xml" href="/images/rover.svg">
        <link rel="icon" type="image/png" href="/images/rover.png">

        <link rel="stylesheet" href="/css/stylesheet.css">

        <!-- Twitter Cards - https://medium.com/@dinojoaocosta/how-to-make-twitter-preview-your-website-links-5b20db98ac4f -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{twitter_handle}" />
        <meta name="twitter:title" content="{twitter_title}" />
        <meta name="twitter:description" content="{twitter_description}" />
        <meta name="twitter:image" content="/images/rover.png" />
    </head>
    <body>
