/* Original Choice: https://convertingcolors.com/rgb-color-75_0_130.html */
/* Web Safe Choice: https://convertingcolors.com/hex-color-660099.html */
body {
    background-color: black;
    color: white;
}

table, th, td {
    border: 1px solid White;
}

/* make the table a 100% wide by default */
table {
    width: 90%;
}

/* if the browser window is at least 800px-s wide: */
@media screen and (min-width: 800px) {
    table {
        width: 80%;
    }
}

/* if the browser window is at least 1000px-s wide: */
@media screen and (min-width: 1000px) {
    table {
        width: 70%;
    }
}

div#latest-tweets {
    overflow-x: auto;

    /* Adblock Breaks The Div, So It Could Happen To Someone Else */
    display: block !important;
}